<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <div class="container">
    <% @post.errors.full_messages.each do |msg| %>
      <p class="alert alert-danger"><%= msg %></p>
    </div>
    <% end %>
    </div>
    <% end %>
    <div class="col-md-9">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="name"><%= f.label :title %></label>
          <%= f.text_field :title, label: false, :input_html => { :type => "text", :class => "form-control", :placeholder => "Text input" } %>
        </div>
        <div class="form-group">
          <label for="name"><%= f.label :body %></label>
          <%= f.text_area :body, :class => "tinymce", :rows => 40, :cols => 120 %>
          <%= tinymce %>
        </div>
         <%= f.submit %>
<% end %>
      </form>
    </div>

 