<div class="row">
  <div class="col-md-9">
    <h1><%= @post.title %> </h1>
  
    <div class="well well-lg">
    <%= @post.body.html_safe %>
    </div>
  </div>
</div>
  

<!-- All Code for Comments -->

<h2>Comments</h2>
<%= render @post.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>

<div>
  <%= link_to 'Back to Posts', posts_path %>
</div>
