<div class="row">
  <div class="col-md-9">
    <h1><%= @post.title %> </h1>
    <p><%= @post.published %></p>
    <div><%= @post.author %></div>
    <div class="well well-lg">
    <%= simple_format @post.body %>
    </div>
  </div>
</div>
  

<!-- All Code for Comments -->

<h2>Comments</h2>
<%= render @post.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>

<div>
  <%= link_to 'Back to Posts', posts_path %>
</div>
