<h1>Show post</h1>

<p>
  <strong><%= @post.title %> </strong>
</p>
 
<p>
  <%= @post.body %>
</p>

<!-- All Code for Comments -->

<h2>Comments</h2>
<%= render @post.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>

<div>
  <%= link_to 'Back to Posts', posts_path %>
</div>
